h2 {
    text-align: center;
}
.container {
    padding-bottom: 50px;
}
.top-emotion {
    position:absolute;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: black;
}
.filmstrip-row {
    margin-top: 20px;
}
