<app-hero-banner [apiTitle]='apiTitle' [apiDescription]='apiDescription'>
</app-hero-banner>
<div>
    <h1>Welcome to the ng-ai starter project!</h1>
    <br>
    <h4>For a small, concise example of using Artificial Intelligence (AI) with Angular check out this
        <a href="https://stackblitz.com/edit/ng-ai-hack-demo">Stackblitz demo</a> (also embedded below).
    </h4>
    <h5>
        Otherwise, click on an item from the navigation bar above to learn more about that service and see a demonstration of its
        use.
    </h5>
    <hr>

    <iframe src="https://stackblitz.com/edit/ng-ai-hack-demo?embed=1&file=app/app.component.ts" width="100%" height="1080px"></iframe>

</div>