<app-hero-banner [apiTitle]='apiTitle' [apiDescription]='apiDescription'>
</app-hero-banner>
<div class="container">
    <div class="col-xs-12" (window:resize)="onResize($event)">
        <div class="row top-padding">
            <h2>Analyze an Image</h2>
        </div>
        <div class="row api-description bottom-padding">
            Computer vision enables a number of capabilities like understanding the features of user-posted images, identifying people and traits in online content, filtering out inappropriate content, and many more. The Computer Vision API takes an input image and returns information about the content such as a brief description, relevant tags, identified faces, and an adult content flag, among other features.
        </div>
        <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="img_container">
                    <img [src]="selectedImageUrl" alt="Selected Image" class="selected-image" (load)="selectedImageLoaded($event)" />
                    <div *ngFor="let faceRectangle of faceRectangles"
                        [style.top]="faceRectangle.percentTop + '%'"
                        [style.left]="faceRectangle.percentLeft +'%'"
                        [style.width]="faceRectangle.percentWidth + '%'"
                        [style.height]="faceRectangle.percentHeight + '%'"
                        class="face-rectangle">
                    </div>
                    <div *ngFor="let faceRectangle of faceRectangles; let i = index"
                        class="face-rectangle image-features"
                            [style.top]="(faceRectangle.percentTop + faceRectangle.percentHeight) + '%'" 
                            [style.left]="faceRectangle.percentLeft +'%'"
                            [style.min-width]="faceRectangle.percentWidth + '%'">
                        <span *ngIf="imageFeatures.faces && imageFeatures.faces[i]">{{imageFeatures.faces[i].gender}}, age:{{imageFeatures.faces[i].age}}</span>
                    </div>
                </div>
                <div class="input-group">
                    <input type="text" class="form-control" data-defaultValue="Image URL" [(ngModel)]="internetImageUrl" />

                    <div class="input-group-btn">
                        <button class="btn btn-default" type="button" (click)="onInternetUrlSelected()">
                            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                        </button>
                        <label class="btn btn-default" type="button">
                          <span class="glyphicon glyphicon-folder-open"></span>
                          <input type="file" (change)="onFilesSelected($event)" accept="image/bmp,image/jpeg,image/png,image/gif"
                                 style="font-size: 50px;width: 120px;opacity: 0;filter:alpha(opacity=0);position: relative;top: -40px;left: -20px" />
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="demo-codes detection-demo-codes result-section">
                    <h1 class="text-info display-middle" *ngIf="isLoading"><i class="glyphicon glyphicon-refresh spinning"></i></h1>
                    <div *ngIf="!isLoading">
                        <div class="btn-group btn-group-justified" role="group">
                            <div class="btn-group" role="group">
                                <button class="btn btn-info" [ngClass]="{'active': !showJSON }" (click)="toggleJSON(false)">Results</button>
                            </div>
                            <div class="btn-group" role="group">
                                <button class="btn btn-info" [ngClass]="{'active': showJSON }" (click)="toggleJSON(true)">JSON</button>
                            </div>
                        </div>
                        <pre class="code" [hidden]="!showJSON">{{ imageFeatures | json }}</pre>
                        <h4 [hidden]="showJSON">Image Features</h4>
                        <table class="table table-bordered" [hidden]="showJSON">
                            <tr *ngIf="imageFeatures && imageFeatures.description">
                                <td class="result-label">Description:</td>
                                <td>
                                    <span class="result-description">{{bestDescription().text}}</span>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-info" role="progressbar" [style.width]="(bestDescription().confidence * 100).toString() + '%'">{{bestDescription().confidence | percent:'1.0-0'}}</div>
                                    </div>
                                </td>
                            </tr>
                            <tr *ngIf="imageFeatures && imageFeatures.color">
                                <td class="result-label">Dominant background:</td>
                                <td>
                                    <div [style.background-color]="imageFeatures.color.dominantColorBackground" class="result-color-box"></div>
                                </td>
                            </tr>
                            <tr *ngIf="imageFeatures && imageFeatures.color">
                                <td class="result-label">Dominant foreground:</td>
                                <td>
                                    <div [style.background-color]="imageFeatures.color.dominantColorForeground"  class="result-color-box"></div>
                                </td>
                            </tr>
                            <tr *ngIf="imageFeatures && imageFeatures.color">
                                <td class="result-label">Accent:</td>
                                <td>
                                    <div [style.background-color]="'#'+imageFeatures.color.accentColor"  class="result-color-box"></div>
                                </td>
                            </tr>
                            <tr *ngIf="imageFeatures && imageFeatures.tags">
                                <td class="result-label">High confidence tags:</td>
                                <td>
                                    <div>{{highConfidenceTags()}}</div>
                                </td>
                            </tr>
                            <tr *ngIf="imageFeatures && imageFeatures.tags">
                                <td class="result-label">Low confidence tags:</td>
                                <td>
                                    <div>{{lowConfidenceTags()}}</div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row filmstrip-row bottom-padding">
            <div *ngFor="let imagePath of imageList" class="col-xs-6 col-sm-4 col-md-3 col-lg-2 filmstrip">
                <img [src]="imagePath" (click)="selectStockImage(imagePath)" [ngClass]="imagePath === internetImageUrl ? 'selected' : ''" />
            </div>
        </div>
    </div>
</div>

