h2, h4 {
    text-align: center;
}
.image-features {
    background-color:rgba(255,255,255,0.4);
    position:absolute;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: black;
}
.result-section table {
    background-color:white;
}
.result-label {
    width:50px;
}
.result-description {
    width:70%;
}
.result-color-box {
    width:20px;
    height:20px;
    border-style:solid;
    border-color:black;
}
.filmstrip-row {
    margin-top: 20px;
}
